body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1C0B19;
  font-family: "Cookie", "Times New Roman";
  color: #CDE77F;
  text-align: center;
}

#loginPage {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.login {
  background: url("https://th.bing.com/th/id/OIP.pK55wxfM8BKcYZwwSNpc3gHaJQ?w=191&h=239&c=7&r=0&o=5&dpr=1.38&pid=1.7") no-repeat;
  position: absolute;
  height: 45.5%;
  width: 17.1%;
  top: 15%;
  left: 41%;
  box-shadow: ivory -1px -1px 2px, black 2px 2px 3px;
  border-radius: 20%/5%;
}

h1.login-title {
  position: absolute;
  text-shadow: black 5px 5px 10px;
  font-weight: lighter;
  text-align: center;
  width: 100%;
}

/* Rectangle 1 */
.submit-btn {
  display: block;
  border-radius: 5%/20%;
  box-shadow: 2px 2px 5px black;
}

/* login and sign in ids are for forms */
#login {
  margin-top: 10%;
  margin-left: 20%;
}

#sign-in {
  position: absolute;
  right: 20%;
  top: 20%;
}

fieldset {
  box-shadow: #CDE77F 1px 1px 2px;
}

h1, h2, h3, h4 {
  font-weight: lighter;
}

.main.title {
  position: absolute;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  top: 340px;
  z-index: 4;
  text-shadow: black 5px 5px 10px;
}

.loading {
  display: block;
  animation: spin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border-top: #CDE77F;
  border-radius: 4px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-stability {
  margin-left: 15%;
  margin-right: 0%;
  width: 32%;
  background-color: #1C0B19;
}

.main-selector {
  border-width: 3px;
  margin-top: 80px;
  margin-bottom: 200px;
}

.restaurant-holder {
  margin-left: 8.3%;
}

.restaurantIcon:hover {
  transform: scale(1.2);
  transition-duration: 2s;
}

.restaurantIcon, .cartIcon, .menuItem > div {
  transform: scale(1);
  transition-duration: 2s;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #CDE77F;
  border-width: 3px;
  border-style: solid;
  box-shadow: black 2px 2px 3px;
}

.cartIcon {
  background-size: 50px;
}

section > h4 {
  text-align: center;
  width: 100%;
}

.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-color: transparent #CDE77F transparent transparent;
  border-width: 0 100px 100px 100px;
}

.triangle:hover {
  cursor: pointer;
  border-color: transparent antiquewhite transparent transparent;
}

.triangle.right {
  transform: rotate(45deg);
  margin-bottom: 18%;
}

.triangle.left {
  transform: rotate(-135deg);
  margin-top: 10%;
  margin-left: 4%;
}

.restaurantIcon:hover {
  cursor: pointer;
}

.left-dark {
  background-color: black;
  height: 300%;
  width: 15%;
  position: absolute;
  left: 0px;
}

.right-dark {
  background-color: black;
  height: 300%;
  width: 32.4%;
  position: absolute;
  right: -15%;
  z-index: -6;
}

.clickThrough {
  pointer-events: none;
  background-color: rgba(196, 196, 196, 0.15);
  width: 1027px;
  height: 330px;
  position: absolute;
  top: 700px;
  left: 15%;
  z-index: 10;
}

.clickThrough.Two {
  top: 1440px;
}

.back-btn {
  position: absolute;
  background-color: #CDE77F;
  color: black;
  font-family: "Cookie", "Times New Roman";
  font-size: 18px;
  font-weight: 600;
  width: 60px;
  height: 30px;
  border-radius: 40%;
  text-shadow: 2px 2px 10px black;
}

.back-btn:hover, .cart-btn:hover {
  text-shadow: 2px 2px 20px white;
}

.cartlist {
  width: 63%;
  margin-left: 17%;
}

/*# sourceMappingURL=index.css.map */
